<% layout('/layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Add Menu</h1>

        <form action="/restaurants/<%=restaurant.id%>?_method=PATCH " method="POST">






            <div class="mb-3 offset-3">
                <button class=" btn btn-primary">Save Changes</button>
                <span><a href="/restaurants">Back To List</a></span>
            </div>
        </form>








    </div>
    <script src="/menu.js"> </script>